<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
  <form>
    <input type="text" name="ism" placeholder="Ism">
      <br>
    <input type="number" name="yosh" placeholder="Yoshi">
      <br>
    <input type="text" name="kasb" placeholder="Kasbi" l>
      <br>
    <input type="text" name="l" placeholder="Login">
      <br>
    <input type="text" name="p" placeholder="Parol">
    <br>
    <input type="text" name="o_p" placeholder="Parol qayta">
  </form>

</body>
</html>